.c1{
    background-color: red;
}

.c2{
    background-color: green;
}

.c3{
    background-color: orchid;
}

.c4{
    background-color: blue;
}

.c5{
    background-color: grey;
}

.c6{
    background-color: orange;
}

.c7{
    background-color: cyan;
}